<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Blood donation campaigns</h2>
        <p>How to Organize</p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            By organizing a blood donation campaign, you can give your society a chance to donate blood. It is not that difficult or expensive to organize a campaign in your area or work place.  
          </p>
          
          <a class="btn-learn-more"  href="/images/myw3schoolsimage.jpg" download>Instruction manual (Sinhala)</a>
          <br>
          <a class="btn-learn-more"  href="/images/myw3schoolsimage.jpg" download>Instruction manual (Tamil)</a>

          
        </div>
      </div>

      

    </div>
  </section><!-- End About Section -->
  