<body>
  <header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
  <div class="container">
    <a class="navbar-brand" href="#!"><span style="color: #1b1e1e;">DONATE-BLOOD</span><span style="color: #d1020285;"> SAVE-LIFE</span></a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Blood availability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Donation campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">How to donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">How to organize</a>
        </li>
       
      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!--Section: Design Block-->
<section>
  <img class="hero-img"  src="../../../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg">
</section>
<!--Section: Design Block-->
</header>
 
</body>