<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>About</h2>
        <p>Donate blood</p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            Who can donate blood?
          </p>
          <p>
            The person must fulfill several criteria to be accepted as a blood donor. These criteria are set forth to ensure the safety of the donor as well as the quality of donated blood.
          </p>
          <p>
            <b>Donor Selection Criteria</b>
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Age above 18 years and below 60 years.</li>
            <li><i class="ri-check-double-line"></i>If previously donated, at least 4 months should be elapsed since the date of previous donation.</li>
            <li><i class="ri-check-double-line"></i>Hemoglobin level should be more than 12g/dL. (this blood test is done prior to each blood donation) </li>
            <li><i class="ri-check-double-line"></i>Free from any serious disease condition or pregnancy. </li>
            <li><i class="ri-check-double-line"></i>Should have a valid identity card or any other document to prove the identity.</li>
            <li><i class="ri-check-double-line"></i>Free from "Risk Behaviours".</li>
          </ul>

          <p>
            <b>Risk Behaviours</b>
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Homosexuals.</li>
            <li><i class="ri-check-double-line"></i>Sex workers and their clients.</li>
            <li><i class="ri-check-double-line"></i>Drug addicts.</li>
            <li><i class="ri-check-double-line"></i>Engaging in sex with any of the above. </li>
            <li><i class="ri-check-double-line"></i>Having more than one sexual partner</li>
          </ul>

        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>Type of Donors</p>
          <ul>
            <li><i class="ri-check-double-line"></i>Voluntory non remunerated donors. (donate for the sake of others and do not expect any benefit. their blood is considered safe and healthy)</li>
            <li><i class="ri-check-double-line"></i>Replacement donors. (donate to replace the units used for their friends or family members)</li>
            <li><i class="ri-check-double-line"></i>Paid donors. (receive payment for donation) </li>
            <li><i class="ri-check-double-line"></i>Directed donors. (donate only for a specific patient's requirement)</li>
          </ul>

          <p>Replacement and Paid donors are no longer accepted by NBTS. Replacement donation was carried out until recently in some blood banks due to the shortage of blood stocks. Asking patients for replacement donors will lead to more pressure on the relatives, who are already in stress and this in turn results in illegal paid donations.</p>
            <p>
              Directed donations are used in certain conditions such as in rare blood groups.
            </p>
            
          
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

      

    </div>
  </section><!-- End About Section -->