<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

      <div class="row" data-aos="zoom-out">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>We need your help</h3>
          <p>"join with us in our mission to address blood shortages. Together, let's make a significant impact by organizing campaigns and donating blood to save lives."</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">View blood shortage blood banks</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->